.glass__model .model__left,.model__right>img{
  width: 200px;
}

.glass__model .position-absolute{
  opacity: 0.8;
  top: 26%;
  left: 49%;
  width: 56%;
  transform: translateX(-50%);
}

.glass__model .infomation{
  opacity: 1;
  background-color: #ffa50057 ;
  top: 61%;
  left: 50%;
  width: 100%;
  font-size: 13px;
}
.glass__model .infomation span{
  color: blue;
}
